%section.study_hall.container
  %h2= @course.name
  %h4= @course.provider
  %h4= @course.institution
  %h4= @course.instructor
  %h4= @course.language
  %h4= @course.url
  %h4= @course.description
  
  - if current_user
    %h5= link_to 'I completed this course', add_course_status_path(course_id: @course, :status => 'completed'), method: :post, class: 'btn btn-success'
    %h5= link_to 'I am currently on this course', add_course_status_path(course_id: @course, :status => 'current'), method: :post, class: 'btn btn-info'
    %h5= link_to 'Add to list.', courseitems_path(course_id: @course), method: :post, class: 'btn btn-warning'
    
  %h4.heading Posts   
  - @posts.each do |post| 
    %h4= link_to post.creator.name, user_path(post.creator)
    %p= post.updated_at
    %h4= link_to post.title, post_path(post)
    %p= post.content

  - if logged_in?
    %h4.heading Post Something
    - post = @post
    = render 'posts/post', post: post
    