%section.show_post.container
  .row
    %h4= link_to @post.creator.name, user_path(@post.creator)
    %h2= @post.title
    %h4= @post.content

    %h4.heading Comments 
    - @replies.each do |reply| 
      %h4= link_to reply.creator.name, user_path(reply.creator)
      %p= reply.updated_at
      %p= reply.content

    - if logged_in?
      %h4.heading Reply
      - reply = @reply
      = render 'replies/reply', reply: reply